/* Asli/Hero-Section-Başlangıç */
.hero-section {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: contrast(1.1) saturate(1.5); /* Kontrastı ve doygunluğu artırır */
    opacity: 0.9; /* Görüntüyü biraz daha opak yapar, parlaklığı kontrol eder */
}
    
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Hafif bir karanlık katman ekler */
    z-index: 1;
}

.hero-content {
    position: absolute;
    left: 50px;  
    bottom: 120px; 
    z-index: 2; 
    color: #fff;
    max-width: 90%; 
    padding: 20px; 
}

.hero-content h2 {
    margin: 0;
    font-weight: 600;
    font-size: 35px; 
    
}

.hero-content p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300; 
}

.hero-button {
    position: absolute;
    bottom: 370px; 
    z-index: 2;
    background-color: transparent;
    color: white;
    font-size: 25px; 
    font-weight: 500;
    text-align: center;
}

.hero-button-p {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0; 
}

.watch-trailer-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0;
}

.play-button {
    width: 70px;
    height: 70px;
}
/* Asli/Hero-Section-Bitiş */