* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ----- Büşra - Header Section Start ----- */
.header {
  display: flex;
  width: 100%;
  font-family: "Montserrat",sans-serif;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  z-index: 2;
}
.header ul {
  list-style: none;
}
.header .nav-link {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.header .nav-link:hover {
  border-radius: 20px;
  background-color: #e91e63;
  padding: 5px 20px;
  color: white;
}
.header a.active {
  background-color: #e91e63;
  border-radius: 30px;
  color: white;
  padding: 5px 20px;
}
.header img {
  max-width: 100%;
}
.header .nav-list {
  display: flex;
  gap: 80px;
  font-size: 20px;
  font-weight: 500;
  line-height: 46.32px;
  text-align: left;
}
.header .logo {
  width: 92px;
  height: 96px;
}
.header .nav,
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;

}
.header .nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;

}
.header .main {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 60px;
}
.fs-fw{
  font-size: 20px;
  font-weight: 600;
}
.header .btn-main {
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  border-radius: 30px;
  color: black;
  transition: all 0.5s;
}
.header .btn-main:hover {
  text-decoration: none;
  border-radius: 30px;
  color: #304ffe;
  background-color: #c5cae9;
  padding: 5px 20px;
}
.header .main .active {
  background-color: #c5cae9;
  border-radius: 30px;
  color: #304ffe;
  padding: 5px 20px;
}
.header .ic-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  font-size: 20px;
}
.header .line {
  height: 20px;
  width: 1px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.mobile-header {
  width: 100%;
  background-color: rgb(250, 212, 218);
  position: absolute;
  top: 0;
  z-index: 3;
  display: none;
  overflow: hidden;
  transition: opacity 0.9s ease, height 0.5s ease;
}
.nav-list1{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-bottom: 25px;
  gap: 50px;
}
.nav-list1:hover{
  color: #E91E63;
}
.nav-list-item {
  margin-left: 20px;
}
.nav-link-blc{
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  font-size: 20px;
  font-weight: 500;
}  
#nav-icon1{
  display: none;
  width: 28px;
  height: 10px;
  position: relative;
  margin-bottom: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.54);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #E91E63;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #E91E63;
}
  .top--30 {
  top: -30px;
}
  .left-400{
  left: 400px;
}

/* Büşra - BE-6 Header Section Responsiveness Start */
@media (max-width: 1270px){
  .header{
    padding: 0;
  }
  .hamburger {
    display: block;
  }
  #nav-icon1{
    display: block;
    z-index: 9999;
  }
  .nav-menu {
    display: none;
  }
  .line{
    display: none;
  }
}
@media (max-width: 610px){
    .header{
    padding: 0;
    }
    .logo {
    display: none;
    }
    .header .nav{
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .main{
    justify-content: space-between;
  }
}
@media (max-width: 445px) {
  .fs-fw{
    font-size: 16px;
  }
}
@media (max-width: 450px){
  .left-400{
  left: 360px;
  }
} 

@media (max-width: 420px){
  .left-400{
  left: 320px;
  }
} 

@media (max-width: 390){
  .left-400{
  left: 280px;
  }
} 

@media (max-width: 350px){
  .left-400{
  left: 240px;
  }
} 
/* Büşra - BE-6 Header Section Responsiveness End */

/* ----- Büşra - Header Section End ----- */

/* error section start */
.error-section {
  margin: 100px auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  gap: 30px;
}
.error-code-wrapper {
  position: relative;
  width: 211px;
  height: 246px;
  margin-bottom: 20px;
}
.error-code {
  font-weight: 700;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #880e4f;
  z-index: 1;
}
.error-image {
  width: 100%;
  height: 100%;
  background: url("../images/error-bg.png") no-repeat center center;
  background-size: cover;
  border-radius: 8px;
}
.divider {
  height: 160px;
  width: 2px;
  background-color: #d3d3d3;
  margin: 0px 20px;
}
.error-message {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.error-message h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.87);
}
.error-message p {
  font-weight: 500;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  max-width: 28ch;
  line-height: 22px;
}
.error-message .error-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #e91e63;
  border-radius: 20px;
  text-decoration: none;
  color: #e91e63;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  align-self: flex-start;
}
.error-message .error-btn:hover {
  background-color: #e91e63;
  color: white;
}
@media (max-width: 725px) {
  .error-section {
    gap: 15px;
  }
  .error-code {
    font-size: 70px;
  }
  .error-code-wrapper {
    width: 172px;
    height: 200px;
  }
  .error-message h1 {
    font-size: 20px;
  }
  .error-message p {
    font-size: 14px;
  }
}
@media (max-width: 597px) {
  .error-section {
    flex-direction: column;
    padding: 20px 10px;
  }
  .divider {
    display: none;
  }
  .error-message {
    text-align: center;
    align-items: center;
  }
  .error-message .error-btn {
    align-self: center;
  }
}
@media (max-width: 400px) {
  .error-code {
    font-size: 60px;
  }
  .error-code-wrapper {
    width: 140px;
    height: 161px;
  }
  .error-message h1 {
    font-size: 18px;
  }
  .error-message p {
    font-size: 13px;
  }
  .error-message .error-btn {
    font-size: 14px;
  }
}

/* error section end */

.footer-section {
  display: block;
  justify-content: center;
  padding-top: 24px;
}


.footer-section-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-section-card-container{
  display: flex;
  justify-content: space-around;
  gap:40px;
  max-width: 700px;
}

.footer-section-video-container{
  display: flex;
  flex-direction: column;
  max-width: 220px;
  align-items: center;
}

.footer-section-video-image{
  width: 100px;
}

.footer-section-video-text{
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem,2.5vw,1.25rem);
  font-weight: 700;
  line-height: 2rem;
  color: #000000DE;
  justify-content: center;
  align-items: center;
}

.footer-section-video-description{
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.675,2.5vw,0.775rem);
  font-weight: 500;
}

.footer-section-card{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-section-list{
  display: flex;
  flex-direction: column;
  gap: 22px;
  list-style-type: none;
  padding: 0;
}

.footer-section-card-list-item{
  font-family: "Montserrat", sans-serif;
  font-size: clamp(12px,2.5vw,16px);
  font-weight: 500;
  display: flex;
  text-align: left;
}

.footer-section-menu{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-section-card-title{
  font-family: "Montserrat", sans-serif;
  align-items: flex-start;
  font-size: clamp(14px,2.5vw,18px);
}

.footer-section-social-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
background-color: #0000001F;
border-radius: 50%;
width: 36px;
height: 36px;
border: none;
}

.social-img{
  width: 20px;
  height: 20px;
}


#language{
  background-color: transparent;
  border-radius: 5px;
  border-color: #304FFE;
  color: #304FFE;
  text-align: start;
  width: 200px;
  height: 30px;

}

@media(max-width: 970px){
  .footer-section-menu{
      flex-direction: row;
      gap: 120px;
  }

  .footer-section-container{
      flex-wrap: wrap;
      gap: 20px;
  }
}
@media(max-width:780px){
  .footer-section-video-container{
      flex-direction: row;
      gap: 20px;
      order: 3;
      max-width: 100%;
  }
}

@media(max-width:642px){
  .footer-section-video-image{
      width: 90px;
  }

  .footer-section-card-container{
      flex-wrap: wrap;
  }
}

@media(max-width:520px){
  .footer-section-menu{
      gap:40px;
  }
  .footer-section-list{
      align-items: center;
  }
  .footer-section-card{
      align-items: center;
  }
}

@media(max-width:440px){
  .footer-section-menu{
      flex-direction: column;
      gap:30px;
  }
  
}

@media(max-width:360px){
  .footer-section-video-container{
      flex-direction: column;
      gap: 0;
  }
  .footer-section-video-image{
      width: 80px;
  }
}

/* Büşra- BE-22 - Dark mode Settings Start  */

body.dark-mode {
  background-color: #303030;
  color: white;
}
body.dark-mode .header {
  background-color: #303030;
}
body.dark-mode .error-message h1{
  color: white;
}
body.dark-mode .error-message p{
  color: white;
}
body.dark-mode .nav-link {
  color: white;
}
body.dark-mode .btn-main {
  color: white;
}
body.dark-mode .footer-section-card-list-item {
  color: white;
}

/* Büşra- BE-22 - Dark mode Settings End  */