* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ====== Büşra - Top Categories Start ====== */
.top-categories-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
.top-categories-section .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.top-categories-section .title {
  font-size: 36px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.top-categories-section .title span {
  color: #3957fe;
}
.top-categories-section .small-cards {
  display: flex;
  gap: 20px;
}
.top-categories-section .card {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}
.top-categories-section .card:hover {
  transform: scale(1.05);
}
.top-categories-section .card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute; 
  z-index: 1;
}
.top-categories-section .card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.top-categories-section .card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.top-categories-section .card .content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: white;
}
.top-categories-section .explore-btn {
  padding: 10px 30px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
}
.top-categories-section .explore-btn:hover {
  color: #12131c;
  background-color: white;
}
.top-categories-section .card.large {
  height: 290px; 
  width: 100%;
}
.top-categories-section .card.small {
  height: 160px;
  width: 270px;
}
.top-categories-section .card.super-heroes {
  width: 100%;
  height: 470px;
}
.top-categories-section .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}
.top-categories-section .left-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}
.top-categories-section .right-card-container {
  flex: 1;
}
/* ====== Responsiveness ====== */
@media (max-width: 790px) {
  .top-categories-section .top-section,
  .top-categories-section .bottom-section {
    flex-direction: column;
    align-items: center;
  }
  .right-card-container {
    width: 240px;
  }
  .top-categories-section .small-cards {
    flex-direction: column;
  }
}
/* ====== Büşra - Top Categories End ====== */